// General stuff (site-wide)
$website-background-color: #f3f3f3;
$datetime-color: #099422;
$website-margin: 10px;
$website-heading-bottom-padding: 5px;
$website-heading-font-size: 26px;
$website-subheading-font-size: 12px;
$article-heading-font-size: 30px;
$article-taglist-margin-bottom: 20px;
$article-tag-font-size: 10px;

// site heading
$website-heading-color: #3399ff;
$website-heading-border-color: #6600cc;

// tags
$tag-background: #fff;
$tag-border: #000;

// Screen sizes
$tablet-width: 768px;
$desktop-width: 1024px;

// Extends

// For anchor colors
%anchor-color {

  a {
    text-decoration: none;
  }

  a:link {
    border-bottom: 1px dashed $website-heading-color;
    color: $website-heading-color;
  }

  a:visited {
    border-bottom: 1px solid darken($website-heading-color, 20%);
    color: darken($website-heading-color, 20%);
  }

}

// Mixins

// For responsive layout
@mixin tablet {

  @media (min-width: #{$tablet-width}) {
    @content;
  }

}
