body {
  background-color: $website-background-color;
}

time {
  color: $datetime-color;
}

header {
  border-bottom: 4px double $website-heading-border-color;
  margin: 20px;
  padding-bottom: 10px;

  h1 {
    font-size: 32px;
    font-variant: small-caps;
    text-align: center;

    a:link,
    a:visited {
      color: $website-heading-color;
      text-decoration: none;
    }

  }

  h3 {
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
  }

}

.content {
  margin: 20px;
}

article {

  header {
    padding-bottom: 2px;
    border-bottom: 1px solid $website-heading-border-color;

    h1 {
      font-size: 30px;
      margin: 0;
    }
  }

  footer {
    margin-bottom: 20px;

    h4 {
      font-size: 12px;
      margin-bottom: 5px;
      margin-top: -15px;
    }

    ul {
      margin-top: 10px;
      text-align: center;
    }

    li {
      display: inline;
    }

  }

  /* Elements within articles */

  // Headings
  h1 {
    font-size: 24px;
    font-variant: small-caps;
    margin: 25px 0px 5px;
  }

  h2 {
    font-size: 22px;
    font-variant: small-caps;
    margin: 15px 0px 5px;
  }

  // Text stuff
  p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 125%;
  }

  section {

    a {
      text-decoration: none;
    }

    a:link {
      color: $website-heading-color;
      border-bottom: 1px dashed $website-heading-color;
    }

    a:visited {
      color: darken($website-heading-color, 20%);
      border-bottom: 1px solid darken($website-heading-color, 20%);
    }

    p:last-child a:last-child {
      display: inline-block;
      margin-bottom: 30px;
    }

  }

}

.tag {
  background-color: $tag-background;
  border: 1px dotted $tag-border;
  border-radius: 10px;
  font-size: 10px;
  padding: 3px 5px;

  a:link,
  a:visited {
    color: darken($website-heading-color, 30%);
    display: inline-block;
    min-width: 50px;  // enough for a finger tap, I think
    text-decoration: none;
  }

}
